/* global */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

h1 {
  color: $headline-clr;
  font-weight: lighter;
  font-family: $paragraph-font;
  text-transform: uppercase;
  font-size: $headline-font-size;
  margin: 10px;
}

h3 {
  padding: 0;
  margin: 0;
  font-family: $roboto-font;
  font-size: $paragraph-font-size;
  font-weight: 400;
}

h2 {
  font-family: $roboto-font;
  color: $headline-clr;
  font-size: $paragraph-font-size;
  padding: 20px;
  font-weight: 600;
  margin: 0;
}

p {
  color: $paragraph-clr;
  font-family: $paragraph-font;
  font-weight: lighter;
  font-size: $paragraph-font-size;
}

a {
  color: $link-clr;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $activ-link-clr;
  }
}

/* buttons  */
.btn {
  background-color: $button-clr;
  display: inline-flex;
  align-items: center;
  font-weight: 300px;
  border-radius: 5px;
  border: none;
  color: $white-clr;
  font-size: 18px;
  display: inline-flex;
  padding: 10px 22px;
  font-family: $roboto-font;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

/* table general styles */
table {
  border-collapse: collapse;
}

.number-styles {
  font-family: $roboto-font;
  font-weight: lighter;
  border: none;
  border: 1px solid #e3e3e3;
  border-top: none;
  border-right: none;
  border-left: none;
  transition: 0.3s;
}

.number-styles:hover {
  background-color: $table-hover-clr;
}
