/* date-form */

.date-form__wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  
  .date-form__input {
    display: flex;
    justify-content: center;
    padding: 30px;
    border-top: 1px solid $date-form-line;
    border-bottom: 1px solid $date-form-line;
  }
  
  .date-form__refresh {
    padding: 12px;
    width: 40px;
  }

  .date-form__refresh img {
      filter: $white-svg;
  }

  .date-form__input-forms {
      display: inline-block;
      border-radius: 2px;
      border: 1px solid $date-form-line;
      transition: .3s;
      margin-right: 15px;
  }

  .date-form__input-forms input {
    padding: 9px;
    width: 170px;
    margin: 0;
    border: none; 
    outline-style: none;
    font-family: $roboto-font;
    font-weight: lighter;
  }

  .date-form__input-forms input:first-of-type::after {
      display: block;
      content: '';
      width: 1px;
      height: 20px;
      background-color: $date-form-line;
      left: 45%;
      bottom: 5px;
  }

  .date-form__input-forms input::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    filter: invert(100%) sepia(0%) saturate(2605%) hue-rotate(19deg) brightness(117%) contrast(78%);
    background: url(/images/icons/calendar.svg) no-repeat;
    width: 10px;
    height: 10px;
    transition: .3s;
  }

  .date-form__input-forms input.remove::-webkit-calendar-picker-indicator {
    display: none;
  }

  .date-form__input-forms input:hover {
    border-color: $lighter-color;
  }

  .date-form__input-forms:hover input:hover::-webkit-calendar-picker-indicator {
    filter: $gray-svg;
  }